.item {
  background-color: #fff;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  margin-top: 20px;
}
.deleteBtn {
  cursor: pointer;
  outline: none;
  border: 1px solid #e1474d;
  color: #e1474d;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.editBtn {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #ccaa13;
  color: #ccaa13;
  background-color: #fff;
  border-radius: 5px;
}
.itemDetail {
  display: flex;
  align-items: center;
}
.userIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.editIcon {
  color: #ccaa13;
}
.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btnPart {
  display: flex;
}
