.contactFormPart {
  padding: 10px 0;
  width: 65%;
  margin: auto;
  font-size: 14px;
}
.formTitle {
  text-align: start;
}
.error {
  color: #e1474d;
  font-weight: bold;
}
.form {
  border: 1px solid rgb(39 38 38);
  border-radius: 5px;
}
.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px;
}
.formControl input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 7px 5px;
  width: 100%;
}
.formControl label {
  margin-bottom: 3px;
  font-weight: bold;
}
.formControl input:focus {
  border: 2px solid #2563eb;
  width: 100%;
  margin: 5px 0;
}
.form button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin: 25px;
  padding: 9px 20px;
  color: #fff;
  background-color: #2563eb;
  border-radius: 5px;
}
.backToList {
  text-decoration: none;
  color: #2563eb;
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  align-items: center;
  font-weight: bold;
}
.arrowIcon {
  display: flex;
  align-items: center;
  margin-right: 3px;
}
@media only screen and (max-width: 600px) {
  .contactFormPart {
    width: 90%;
    font-size: 13px;
  }
}
